@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;

}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-title {
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-align: left;
}


/*Шапка сайта*/

.page-header {
    width: 1160px;
    margin: 0 auto;
    background-color: #FFE17F;
    background-size: 100%;
    margin-top: 40px;
}


.navigation-list-1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1040px;
    margin: 0 auto;
}

.enter {
    margin-left: 157px;
}

.compare {
    margin-left: auto;
    margin-right: 49px;
}

.basket-button {
    margin-right: 0px;
}

/*кнопка Найти*/
/*
.button-find {
    text-align: center;
}
*/

/*Всплывающее окно корзины*/

.basket {
    font-size: 18px;
    line-height: 21px;
    font-style: ExtraBold;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;
    background-color: #000000;
    color: #FFFFFF;
    display: none;
}

.basket-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: none;
    text-transform: none;
    font-style: normal;
    color: #FFFFFF;
}

/*Блог навигации*/

.navigation-catalog-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1040px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 148.61px;
}

.nav-container-catalog {
    display: flex;
    margin-left: 569px;
    justify-content: space-evenly;
}

.page-container-catalog {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 51px;
}

.navitaion-item-form {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.form-search {
    padding-right: 208px;
}


.navigation-catalog-item {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: left;
    list-style: none;
}

.nav-catalog-sub-menu-item {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-transform: none;
    display: none;
}

/*Слайды*/

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -190px;
}

.slider-list {
    list-style: none;
}

.slider-info-1 {
    margin-top: 91px;
    margin-left: auto;
    margin-right: 40px;
}


.slider-photo-item-2 {
    display: none;
}

.slider-photo-item-3 {
    display: none;
}

.slider-info-2 {
    display: none;
}

.slider-info-3 {
    display: none;
}

.page-main {
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

.info-button {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    margin-top: 20px;
    margin-left: 74px;
}

.slider-info-characteristics th {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

.slider-info-characteristics td {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

/*Каталог продуктов*/

.catalog-products-list {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.catalog-products-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 500px;
    margin: -17px;

}


.catalog-products-item figcaption {
    line-height: 24px;
    font-style: ExtraBold;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-decoration-line: none;
}

.catalog-products-item figure img {
    background-image: url("../images/fon_slide.svg")
}

/*Услуги*/

.service-ol {
    padding-right: 286px;
    margin-left: 440px;
    list-style: none;
}

.service p {

    font-size: 18px;
    line-height: 30px;
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;

}

.service,
.delivery,
.subscribe {
    background-color: #F0F0F0;
    background-size: 100%;
}

.service {

    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}


.service-item-1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.info-button-1 {
    font-weight: 800;
    font-size: 50px;
}

.service-list-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 448px;
    margin-left: -116px;
}

.service-list-img {
    margin-left: 166px;
}

.service-item-2 {
    display: none;
}

.service-item-3 {
    display: none;
}

.delivery-container {
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
}

.delivery-container-h3 {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.delivery-container-img-1 {
    background-color: #FFE17F;
    padding-left: 39px;
    padding-right: 33.9px;
}

.delivery-container-img-2 {
    padding-right: 31px;
}

/*Контакты*/

.contacts-adress {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 117px;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    color: #000000;
}

.contacts-adress {
    color: #444444;
    text-align: left;
    font-style: normal;
}

.contacts-address-text {
    text-align: left;
    font-style: normal;
}

.contacts-phone {
    text-align: left;
    font-style: normal;
    color: #444444;
    text-decoration-line: underline;
}


.subscribe-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
    width: 1160px;
    margin: 0 auto;
}

.subscribe-title {
    width: 922px;
    margin-right: 252px;
    padding-right: 348px;
}

.subscribe-container-1-p {
    display: flex;
    margin-top: 44px;
    margin-bottom: 162px;
    margin-left: -520px;

}

.subscribe-container-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.button-subscribe {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}



.subscribe-container-2-img {
    display: flex;
    flex-direction: А;
    margin-right: 0;
}

.email-subscribe {
    width: 557px;
}


.subscribe {
    text-align: left;
    font-style: normal;
    color: #444444;
}

/*Футэр*/

.footer-adress-logo {
    margin-top: 71.4px;
    margin-left: 430px;
}

.container-footer-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
}

.footer-adress {
    display: flex;
    width: 234px;
}

.footer-navigation-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-right: 20px;
}

.navigation-list-2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.footer-social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.youtube-img {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}


.page-footer {
    background-color: #444444;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.contacts-phone-footer {

    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    text-decoration-line: underline;
}

.footer-social-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 0;
}


/*Элементы каталога*/

.catalog-header {
    display: flex;
    margin: 0 auto;
    max-width: 1160px;
    padding: 60px;
    flex-direction: column;
}


.chapter-list {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.chapter-item {
    margin-right: 46px;
}

.catalog-products-catalog {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1160px;
}

.left-wrapper {
    background-color: #F0F0F0;
    ;
}

.catalog-menu {
    background-color: #F0F0F0;
    ;
}


.catalog-filter-group {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}



.catalog-filter {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.catalog-filter-title {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    font-style: Bold;
    font-weight: 700;
}

.product-card-link {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    font-style: Bold;
    font-weight: 700;
}

.pagination-show-more {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto;
    padding-right: 760px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #F0F0F0;
}

.left-wrapper span {
    font-weight: 800;
    text-transform: uppercase;
}

.catalog-menu span {
    font-weight: 800;
    text-transform: uppercase;
}

.catalog-menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-left: 0 px;
}

.select-control {
    margin-left: 200px;
    margin-right: 200px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-right: 40px;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-between;
}


.pagination-item-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    list-style: none;
}

.pagination-item-1 {
    margin-right: 30px;
}


.product-card {
    list-style: none;
}