@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
    font-display: swap;
}

html {
height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-title {
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-align: left;
}


/*Шапка сайта*/

.page-header {
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    background-color: #FFE17F;
    background-size: 100%;
    margin-top: 40px;
}


.navigation-list {
display: flex;
justify-content: space-between;
list-style: none;
width: 1040px;
margin: 0 auto;
}

.enter {
    margin-left: 157px;
    }

.compare {
    margin-left: auto;
    margin-right: 49px;
}

.basket-button {
    margin-right: 50px;
}

/*кнопка Найти*/
/*
.button-find {
    text-align: center;
}
*/

/*Всплывающее окно корзины*/

.basket {
    font-size: 18px;
    line-height: 21px;
    font-style: ExtraBold;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;
    background-color: #000000;
    color: #FFFFFF;
    display: none;
}

.basket-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: none;
    text-transform: none;
    font-style: normal;
    color: #FFFFFF;
}

/*Блог навигации*/

.navigation-catalog-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1040px;
    margin: 0 auto;
    margin-top: 30px;
}

.nav-container-catalog {
    display: flex;
    margin-left: 569px;
    justify-content: space-evenly;
    flex-direction: row;
}

.page-container-catalog {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 51px;
}

.navitaion-item-form {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.form-search {
    padding-right: 208px;
}


.navigation-catalog-item {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.nav-catalog-sub-menu-item {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-transform: none;
    display: none;
}

/*Слайды*/

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -190px;

    
}

.slider-info-1 {
    margin-top: 91px;
    margin-left: auto;
    margin-right: 40px;
}


.slider-photo-item-2 {
    display: none;
}

.slider-photo-item-3 {
    display: none;
}

.slider-info-2 {
    display: none;
}

.slider-info-3 {
    display: none;
}

.page-main {
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

.info-button {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.slider-info-characteristics th {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

.slider-info-characteristics td {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

/*Каталог продуктов*/

.catalog-products-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    width: 1160px;
    margin-left: 390px;
    }


.catalog-products-item figcaption {
    line-height: 24px;
    font-style: ExtraBold;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    text-decoration-line: none;
}

.catalog-products-item figure img {
    background-image: url("../images/fon_slide.svg")
}

/*Услуги*/

.service {

    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;
}

.service p {

    font-size: 18px;
    line-height: 30px;
    color: #444444;
    font-weight: 400;
    font-family: "Rubic", sans-serif;
    text-align: left;

}

.service,
.delivery,
.subscribe {
    background-color: #F0F0F0;
    background-size: 100%;
}


.service-item-1 {
    display: flex;
margin-right: 0 auto;
flex-direction: row;
}

.service-item-2 {
display: none;
}

.service-item-3 {
    display: none;
}

.delivery-container {
    display: flex;
    flex-direction: row; 
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    }  

    .delivery-container-img   {
        background-color: #FFE17F;
    }

    .delivery-container-p {
        margin: 0 auto;
        margin-top: 40px;
    }


/*Контакты*/

.contacts-adress {
    display: flex;
    justify-content: space-between; 
width: 1160px;
margin: 0 auto;
margin-top: 117px;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    color: #000000;
}

.contacts-adress {
    color: #444444;
    text-align: left;
    font-style: normal;
}

.contacts-address-text {
    text-align: left;
    font-style: normal;
}

.contacts-phone {
    text-align: left;
    font-style: normal;
    color: #444444;
    text-decoration-line: underline;
}


.subscribe-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
}

.subscribe-title {
margin-left: 321px;
width: 922px;
}

.subscribe-container-1-p {
    display: flex;
    margin-top: 44px;
    margin-right: 252px;

}

.subscribe-container-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.button-subscribe {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}



.subscribe-container-2-img {
    display: flex;
    flex-direction: row;
    margin-right: 0;
}

.email {
    padding-right: 557px;
}


.subscribe {
    text-align: left;
    font-style: normal;
    color: #444444;
}

/*Футэр*/

.footer-adress-logo {
    margin-top: 71.4px;
    margin-left: 320px;
}

.container-footer-1 {
display: flex;
justify-content: space-between; 
margin: 0 auto;
width: 1160px;
}

.footer-navigation-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 0;
}

.footer-navigation-link-1 {
    margin-left: 94px;
}

.footer-navigation-link-1,
.footer-navigation-link-2,
.footer-navigation-link-3 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.footer-social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.youtube-img {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}


.page-footer {
    background-color: #444444;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.contacts-phone-footer {

    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    text-decoration-line: underline;
}

.footer-social-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 0;
}


/*Элементы каталога*/



.chapter-list {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.catalog-filter {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.catalog-filter-title {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    font-style: Bold;
    font-weight: 700;
}

.product-card-link {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    font-style: Bold;
    font-weight: 700;
}

.pagination-show-more {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
}